
.testament{
    &__title{
        display:flex;
    }
    &__title-button{
        margin:25px;
        background: none;
        padding: 15px;
        font-size:25px;
        border: 1px solid white;

        &:hover{
            color:grey;
        }

        &:active{
            color:red;
        }
    }
    
}

[data-value~="Select"]{
    display:none;
}
