.christian-songs {
  &__container {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;


  }
}

h1,
h4 {
  cursor: pointer;
}

.song-list {
  &__container {
    display: flex;

    .card-container {
      margin: 16px auto;
    }

    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }

    ul {
      padding: 0;
    }

    .full-song tbody {
      display: flex;
      flex-direction: column;

      tr {
        margin: 10px;
        display: inline-block;
      }
    }
  }
}

.song-btn {

  &-category,
  &-list {
    background: none;
    border: none;
    &:hover{
      border-bottom:1px solid #5D6F7D;
    }
  }

  &-category h4:hover {
    color: black;
  }
}