.christian-songs {
  &__container {
    display: flex;
    justify-content: center;
  }
}

h1,
h4 {
  cursor: pointer;
}

.song-list {
  &__container {
    display: flex;

    ul {
      padding: 0;
    }

    .full-song tbody {
      display: flex;
      flex-direction: column;

      tr {
        margin: 10px;
        display: inline-block;
      }
    }
  }
}

.song-btn {

  &-category,
  &-list {
    background: none;
    border: none;
  }

  &-category h4:hover {
    color: black;
  }
}