.home-page {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: fadeIn 1.3s;
    opacity: 1;
    margin-top: 15%;
    a {
      margin: 20px;
      padding: 20px;
      flex: 30%;
      text-decoration: none;
      font-size: 32px;
      border: 1px solid;
      color: #252525;
    }
  }
}
