.nav-bar {
  &__container {
    font-size: 25px;
    font-weight: 700;
  }
  &__item {
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__link {
    &--active {
      color: black;
    }
  }
}
