.footer-container {
  padding-top:25px;
  background: rgba(247, 235, 235, 0.623);
}


@media only screen and (max-width: 600px) {
  .footer-container {
    &__row {
      flex-direction: column;
    }
  }
}
