.card-container {
  margin-top: 16px;
  min-height:266px;
  button{
    a{
      color:white;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        color:white;
      }
    }
  }

  &__text{
    font-size:16px;
  }
}
