.full-chapter{
    &__container{
    display:flex;
    flex-direction: column;
    margin: 5% auto;
    text-align:justify;
    justify-content:center;
    width:50%

    }

    &__verses{
        padding: 5px;
        cursor: pointer;

        &--not-active{
            display: none;
        }
    }
}