.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.oldtestament{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.bookNames{
  text-transform: capitalize;
  border: 1px solid;
  margin: 5px;
  padding:10px;
  cursor: pointer;
}


.bookNames:hover{
  background-color: white;
  color: black;
}

.chapters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.chapterNumber{

  border:1px solid;
  padding-left:15px;
  padding-right:15px;
  margin: 5px;
  cursor: pointer


}

.chapterNumber:hover{

  background-color: white;
  color: black;

}

.fullChapter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}